{% extends "new/base.html" %}

{% block content %}
<head>
    <title>Вход</title>
</head>
<body>
<h2>Вход в аккаунт Senger</h2>

{% if message %}
<p style="color: red;">{{ message }}</p>
{% endif %}

<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=30) }}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=30) }}

    </p>

    <button type="submit" class="btn btn-success">Войти в аккаунт</button>

</form>

<a href="/register">Нет аккаунта? Зарегистрироваться</a>
</body>
{% endblock %}